<div class="row" id="ezform-btn-saveform">
    <div class="col-lg-12 text-right">
        <div id="div-savedraft"></div>
        <hr> &nbsp;&nbsp;

        <button id="btn-save-ezform" class="btn btn-primary btn-lg" style="margin: 10px 0px 10px 0px;">
            <span class="fa fa-send"></span> Submit</button>&nbsp;&nbsp;
        </button>
        <button id="btn-clear-ezform" class="btn btn-warning btn-lg" style="margin: 10px 0px 10px 0px;">
            <span class="fa fa-times"></span> Clear</button>&nbsp;&nbsp;
        </button>
        <button id="btn-delete-ezform" class="btn btn-danger btn-lg" style="margin: 10px 0px 10px 0px;">
            <span class="fa fa-trash-o"></span> Delete
        </button>
    </div>
</div>

<div id="scriptControlButton"></div>
