<div>
	<div class="container-fluid">
		<div class="">
			<div id="show-error-connect"></div>
			<div class="row">
				<div class="col-md-6 col-xs-6" style="padding:0;">
				<label for="ezform">กรอกรหัสของ ezform เพื่อโหลดข้อมูลจาก Server</label>
					<div class="input-group">

						<input type="text" 
							class="form-control" id="ezf_id" 
							placeholder="กรอกรหัสของ ezform" 
							value="1505970320082452600">
						<span class="input-group-btn">
							<button id="btnGetForm" class="btn btn-info">Get Form</button>
						</span>
					</div>
				</div>
			</div>
		</div> 
	</div>
</div>
<hr style="border: 2px solid #333;">

 