<br>
<div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <table class="kv-grid-table table table-hover table-bordered table-striped table-condensed">
            <thead>

                <tr class="kartik-sheet-style">
                    <th>ชื่อเป้าหมาย</th>
                    <th>ลักษณะหลัก</th>
                    <th>หน่วยงาน</th>
                    <th><a href="">วันที่แก้ไขล่าสุด</a></th>
                    <th>Action</th>
                </tr>

            </thead>
            <tbody id="tbody">

            </tbody>
        </table>
    </div>
</div>
<button type="button" id="addNewRecord" class="btn btn-lg btn-success" data-toggle="tooltip" data-original-title="เพิ่มข้อมูลใหม่"><i class="glyphicon glyphicon-plus"></i> เพิ่มข้อมูลใหม่ใน Ezform Framework Version1</button>้
<hr style="border: 1px solid #333;">

<div class="ezform-record" style="display:none">
    <div class="">
        <div class="panel panel-primary">
            <div class="panel-heading" style="padding: 10px;">
                <h5 class="box-title" style="font-size: 18px;"><i class="fa fa-pencil-square-o"></i> แก้ไขข้อมูลเดิม</h5>
            </div>
            <div class="panel-body">
                <h1 id="panelTitle"></h1>
                <hr style="border: 2px solid #333;">
                <div>
                    <input type="hidden" class="form-control" id="updateID">
                    <input type="hidden" class="form-control" id="updateTABLE">
                </div>
                <div id="Index2Ezform"></div>
                <div id="Index2Ezbutton"></div>
            </div>
        </div>
    </div>
</div>

<script>
    let knexRemote = require('./assets/js/sql/knex-sqlite3.js');
    $("#addNewRecord").click(function () {
        let id = myID();
        let data = {};
        data['id'] = id;
        GetEzformSearch(ezf_id).then((row) => {//
            knexRemote.knexInsertColumToLocal(row[0].ezf_table, data)
                .then((res) => {
                    $("#updateID").val(id);
                    $("#updateTABLE").val(row[0].ezf_table);
                    LoadForm(ezf_id);
                });
        });

    });

    //GetEzformSearch(ezf_id);
    async function GetEzformSearch(ezf_id, table = "") {
        if (table == "") {
            table = "ezform_search";
        }
        return await knexRemote.knexfindById2(table, { ezf_id: ezf_id });
        // data.then(res=>{
        //     LoadForm(res[0].ezf_table);
        // });
    }
    LoadForm(ezf_id);
    function LoadForm(ezf_id = '') {
        $("#tbody").html('');
        GetEzformSearch(ezf_id)
            .then((res) => {
                knexRemote.knexfindAll(res[0].ezf_table).subscribe((response) => {
                    // console.log(response);
                    let tbody = `
                    <tr>
                        <td>ไม่มีเป้าหมาย</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td> <button onclick='UpdateForm("${ezf_id}","${res[0].ezf_table}","${response.id}")' class='open-form btn btn-primary'><i class='fa fa-edit'></i>  ดู / แก้ไข</button>
                        </td>    
                    </tr>    
                `;
                    $("#tbody").append(tbody);
                });
            });

    }
    $("#addNewRecord").click(function () {

        record_ezform();
    });
    function record_ezform() {
        Index2LoadTemplateEzform(ezf_id);
        $(".ezform-record").show();

    }
    function GetAllHospital(selects="", hcodes="") {
         
        // let selects =$("#"+selects).val();
        knexRemote.knexfindById("all_hospital_thai", {hcode:hcodes}).subscribe((res3) => {
            $("#"+selects).append(`
              <option value='${res3.hcode}'>${res3.name}</option>
            `);

        }, err => console.log(err));
    }
    function UpdateForm(ezf_id, table, id) {
        $("#updateID").val(id);
        $("#updateTABLE").val(table);
        record_ezform();
        //console.log("OK " + table);
        knexRemote.knexfindById(table, { id: id }).subscribe(
            (row) => {

                knexRemote.knexfindById("ezform_fields", { ezf_id: ezf_id }).subscribe((res) => {
                    var arr = [];
                    for (var key in row) {
                        if (row.hasOwnProperty(key)) {
                            arr[key] = row[key]
                        }
                    };

                    if (res.ezf_field_type == 1 || res.ezf_field_type == 3 || res.ezf_field_type == 12 || res.ezf_field_type == 7 || res.ezf_field_type == 8 || res.ezf_field_type == 9) {
                        if (res.ezf_field_type == 3) {
                            $('.field-sddynamicmodel-' + res.ezf_field_name + ' .redactor-box .redactor-editor').append(arr[res.ezf_field_name]);
                        }
                        $("#sddynamicmodel-" + res.ezf_field_name).val(arr[res.ezf_field_name]);
                    }
                    if (res.ezf_field_type == 4 || res.ezf_field_type == 16) {//radio single checkbox
                        var radios = $("input[name='SDDynamicModel\\[" + res.ezf_field_name + "\\]']");//$("#sddynamicmodel-"+res2.ezf_field_name);
                        radios.filter('[value=' + arr[res.ezf_field_name] + ']').prop('checked', true);
                    }
                    if (res.ezf_field_type == 14) {
                        //file upload
                        var formidable = require('formidable');
                        if (req.url == './assets/image') {
                            var form = new formidable.IncomingForm();
                            form.parse(req, function (err, fields, files) {
                                res.write('File uploaded');
                                res.end();
                            });
                        } else { }
                    }
                    if (res.ezf_field_type == 17) {
                        //all hospital list
                        $('.field-sddynamicmodel-' + res.ezf_field_name).html('');
                        knexRemote.knexfindById("ezform_fields", { ezf_field_id: res.ezf_field_id }).subscribe(
                            (res2) => {

                                let label = res2.ezf_field_label;
                                let html = `
                                 
                                    <div class="form-group field-sddynamicmodel-var14">
                                        <label class="control-label" for="sddynamicmodel-var14">Hospital list</label>
                                        <select onchange='GetAllHospital("sddynamicmodel-${res2.ezf_field_name}")' id="sddynamicmodel-${res2.ezf_field_name}" class="form-control" name="SDDynamicModel[var14]"></select>
                                        <p class="help-block help-block-error"></p>
                                    </div> 
                                 `;
                                $('.field-sddynamicmodel-' + res.ezf_field_name).html(html);
                                knexRemote.knexfindAll("all_hospital_thai", 100).subscribe((res3) => {
                                    $('#sddynamicmodel-' + res2.ezf_field_name).select2();
                                    $("#sddynamicmodel-" + res2.ezf_field_name).append(`
                                        <option value='${res3.hcode}'>${res3.name}</option>
                                    `);

                                }, err => console.log(err));

                                $(document).on('keyup',".select2-search__field",function(){
                                    let hcodes = $(this).val().toString();
                                    let selects1 = "sddynamicmodel-"+res2.ezf_field_name;
                                    GetAllHospital(selects1,hcodes);
                                     
                                });
                            },
                            (err) => console.log(err)
                        );
                        //$('.field-sddynamicmodel-var14').html('');
                    }
                    if (res.ezf_field_type == 19) {//checkbox multi

                        knexRemote.knexfindById("ezform_fields", { ezf_field_sub_id: res.ezf_field_id }).subscribe(
                            (res2) => {
                                var checkbox = $("input[name='SDDynamicModel\\[" + res2.ezf_field_name + "\\]']");
                                checkbox.filter('[value=' + arr[res2.ezf_field_name] + ']').prop('checked', true);

                            },
                            (err) => console.log(err)
                        );
                    }
                    if (res.ezf_field_type == 6)//dropdown
                    {
                        var theValue = $('#sddynamicmodel-' + res.ezf_field_name).val();
                        $('option[value=' + arr[res.ezf_field_name] + ']').attr('selected', true);
                    }


                    if (res.ezf_field_type == 23) {//scale
                        knexRemote.knexfindById("ezform_fields", { ezf_field_sub_id: res.ezf_field_id }).subscribe(
                            (res2) => {
                                //$("input[name='SDDynamicModel\\[var6r1\\]']").addClass('xxxxx');
                                var radios = $("input[name='SDDynamicModel\\[" + res2.ezf_field_name + "\\]']");//$("#sddynamicmodel-"+res2.ezf_field_name);
                                radios.filter('[value=' + arr[res2.ezf_field_name] + ']').prop('checked', true);

                            },
                            (err) => console.log(err)
                        );
                    }
                    if (res.ezf_field_type == 25) {//Grid
                        //ezf_field_sub_id
                        knexRemote.knexfindById("ezform_fields", { ezf_field_sub_id: res.ezf_field_id }).subscribe(
                            (res2) => {
                                //console.log(res2.ezf_field_id);
                                knexRemote.knexfindById("ezform_fields", { ezf_field_sub_id: res2.ezf_field_id }).subscribe(
                                    (res3) => {
                                        if (res3.ezf_field_type == "251" || res3.ezf_field_type == "252" || res3.ezf_field_type == "253") {
                                            //text date textarea
                                            $("#sddynamicmodel-" + res3.ezf_field_name).val(arr[res3.ezf_field_name]);
                                        }
                                        if (res3.ezf_field_type == "254") {//checkbox
                                            var checkbox = $("input[name='SDDynamicModel\\[" + res3.ezf_field_name + "\\]']");
                                            checkbox.filter('[value=' + arr[res3.ezf_field_name] + ']').prop('checked', true);
                                        }


                                    },
                                    (err) => console.log(err)
                                );
                            },
                            (err) => console.log(err)
                        );
                    }
                });

            },
            (err) => { console.log(err) }
        );


    }
    function myID() {
        var n = Date.now();
        let val = n * 1000;
        return n + giveValues();
    }
    function giveValues() {
        var number = Math.round((Math.random() * 999999999));
        return number.toString().substr(0, 4);
    }

</script>

<style>
    input[type="radio"] {
        cursor: pointer;
        /* -webkit-appearance: none; */
        appearance: none;
        background: #34495E;
        border-radius: 1px;
        box-sizing: border-box;
        position: relative;
        box-sizing: content-box;
        width: 16px;
        height: 20px;
        border-width: 0;
        transition: all 0.3s linear;
        margin-right: 10px;
        position: relative;
        top: 5px;
    }

    input[type="checkbox"] {
        cursor: pointer;
        /* -webkit-appearance: none; */
        appearance: none;
        background: #34495E;
        border-radius: 1px;
        box-sizing: border-box;
        position: relative;
        box-sizing: content-box;
        width: 16px;
        height: 20px;
        border-width: 0;
        transition: all 0.3s linear;
        margin-right: 10px;
        position: relative;
        top: -4px;
        /* right: 5px; */
        /* margin-right: 10px; */
    }
</style>