<br>
<div class="panel panel-primary">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
        <table class="kv-grid-table table table-hover table-bordered table-striped table-condensed">
            <thead>

                <tr class="kartik-sheet-style">
                    <th>ชื่อเป้าหมาย</th>
                    <th>ลักษณะหลัก</th>
                    <th>หน่วยงาน</th>
                    <th><a href="">วันที่แก้ไขล่าสุด</a></th>
                    <th>Action</th>
                </tr>

            </thead>
            <tbody id="tbody">

            </tbody>
        </table>
    </div>
</div>
<button type="button" id="addNewRecord" class="btn btn-lg btn-success" data-toggle="tooltip" data-original-title="เพิ่มข้อมูลใหม่"><i class="glyphicon glyphicon-plus"></i> เพิ่มข้อมูลใหม่ใน Ezform Framework Version1</button>้
<hr style="border: 1px solid #333;">

<div class="ezform-record" style="display:none">
    <div class="">
        <div class="panel panel-primary">
            <div class="panel-heading" style="padding: 10px;">
                <h5 class="box-title" style="font-size: 18px;"><i class="fa fa-pencil-square-o"></i> แก้ไขข้อมูลเดิม</h5>
            </div>
            <div class="panel-body">
                <h1 id="panelTitle"></h1>
                <hr style="border: 2px solid #333;">
                <div>
                    <input type="hidden" class="form-control" id="updateID">
                    <input type="hidden" class="form-control" id="updateTABLE">
                </div>
                <div id="Index2Ezform"></div>
                <div id="Index2Ezbutton"></div>
            </div>
        </div>
    </div>
</div>





<script>
    let knexRemote = require('./assets/js/sql/knex-sqlite3.js');
    $("#addNewRecord").click(function () {
        let id = myID();
        let data = {};
        data['id'] = id;
        GetEzformSearch(ezf_id).then((row) => {//
            knexRemote.knexInsertColumToLocal(row[0].ezf_table, data)
                .then((res) => {
                    $("#updateID").val(id);
                    $("#updateTABLE").val(row[0].ezf_table);
                    LoadForm(ezf_id);
                });
        });

    });

    //GetEzformSearch(ezf_id);
    async function GetEzformSearch(ezf_id, table = "") {
        if (table == "") {
            table = "ezform_search";
        }
        return await knexRemote.knexfindById2(table, { ezf_id: ezf_id });
        // data.then(res=>{
        //     LoadForm(res[0].ezf_table);
        // });
    }
    LoadForm(ezf_id);
    function LoadForm(ezf_id = '') {
        $("#tbody").html('');
        GetEzformSearch(ezf_id)
            .then((res) => {
                knexRemote.knexfindAll(res[0].ezf_table).subscribe((response) => {
                    // console.log(response);
                    let tbody = `
                    <tr>
                        <td>ไม่มีเป้าหมาย</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td> <button onclick='UpdateForm("${ezf_id}","${res[0].ezf_table}","${response.id}")' class='open-form btn btn-primary'><i class='fa fa-edit'></i>  ดู / แก้ไข</button>
                        </td>    
                    </tr>    
                `;
                    $("#tbody").append(tbody);
                });
            });

    }
    $("#addNewRecord").click(function () {

        record_ezform();
    });
    function record_ezform() {
        Index2LoadTemplateEzform(ezf_id);
        $(".ezform-record").show();

    }
    function GetAllHospital(datas) {
        var fs = require("fs");
        let fileName = __dirname + "/assets/ezfile/hospitals.json";
        fs.writeFile(fileName, JSON.stringify(datas), function (err) {
            if (err) {
                return console.log(err);
            }

            console.log("The file was saved!");
        });
        // let selects =$("#"+selects).val(); knex('users').where('columnName', 'like', '%rowlikeme%')
        //'select * from users where id in (?)', [[1, 2, 3]]
        // let url = __dirname + "./assets/ezfile/all_hospital_thai.json";
        // $.ajax({
        //     url: url,
        //     dataType: 'json',
        //     success: function (data) {
        //         console.log(data);
        //     }
        // })
        // knexRemote.getHospital(hcodes).subscribe((res3) => {
        //     $("#"+selects).append(`
        //       <option value='${res3.hcode}'>${res3.name}</option>
        //     `);
        // });
        // let wheres = "";
        // knexRemote.knexfindById("all_hospital_thai", {hcode:hcodes}).subscribe((res3) => {
        //     

        // }, err => console.log(err));
    }
    function UpdateForm(ezf_id, table, id) {
        record_ezform();
        $("#updateID").val(id);
        $("#updateTABLE").val(table);





        knexRemote.knexfindById(table, { id: id }).subscribe(
            (row) => {

                knexRemote.knexfindById("ezform_fields", { ezf_id: ezf_id }).subscribe((res) => {
                    var arr = [];
                    for (var key in row) {
                        if (row.hasOwnProperty(key)) {
                            arr[key] = row[key]
                        }
                    };
                    // console.log(res);
                    if (res.ezf_field_type == 1 || res.ezf_field_type == 3 || res.ezf_field_type == 12 || res.ezf_field_type == 7 || res.ezf_field_type == 8 || res.ezf_field_type == 9) {
                        if (res.ezf_field_type == 3) {
                            $('.field-sddynamicmodel-' + res.ezf_field_name + ' .redactor-box .redactor-editor').append(arr[res.ezf_field_name]);
                        }
                        $("#sddynamicmodel-" + res.ezf_field_name).val(arr[res.ezf_field_name]);
                    }
                    if (res.ezf_field_type == 4 || res.ezf_field_type == 16) {//radio single checkbox
                        var radios = $("input[name='SDDynamicModel\\[" + res.ezf_field_name + "\\]']");//$("#sddynamicmodel-"+res2.ezf_field_name);
                        radios.filter('[value=' + arr[res.ezf_field_name] + ']').prop('checked', true);
                    }
                    if (res.ezf_field_type == 14) {
                        //file upload

                    }
                    if (res.ezf_field_type == 17) {

                        var data = require("./assets/js/hospital.js");
                        data.hospital = $.map(data.hospital, function (item) {
                            return { id: item.id, text: item.id + " " + item.text };
                        });
                        var select2_hospitallist1 = {
                            "placeholder": 'Search for hospital ...',
                            "quietMillis": 1500,
                            "delay": 1500,
                            "allowClear": true,
                            "minimumInputLength": 5,
                            "maximumSelectionSize": 10,
                            "theme": "krajee",
                            "width": "100%",
                            "language": "en-US",
                            "data": data.hospital
                        };
                        //$('.field-sddynamicmodel-' + res.ezf_field_name).html('');
                        knexRemote.knexfindById("ezform_fields", { ezf_field_id: res.ezf_field_id }).subscribe(
                            (res2) => {

                                jQuery.when(jQuery('#sddynamicmodel-' + res2.ezf_field_name)
                                    .select2(select2_hospitallist1))
                                    .done(initS2Loading('sddynamicmodel-' + res2.ezf_field_name, 's2options_d6851687'));


                            },
                            (err) => console.log(err)
                        );
                        //$('.field-sddynamicmodel-var14').html('');
                    }
                    if (res.ezf_field_type == 19) {//checkbox multi

                        knexRemote.knexfindById("ezform_fields", { ezf_field_sub_id: res.ezf_field_id }).subscribe(
                            (res2) => {
                                var checkbox = $("input[name='SDDynamicModel\\[" + res2.ezf_field_name + "\\]']");
                                checkbox.filter('[value=' + arr[res2.ezf_field_name] + ']').prop('checked', true);

                            },
                            (err) => console.log(err)
                        );
                    }
                    if (res.ezf_field_type == 6)//dropdown
                    {
                        var theValue = $('#sddynamicmodel-' + res.ezf_field_name).val();
                        $('option[value=' + arr[res.ezf_field_name] + ']').attr('selected', true);
                    }


                    if (res.ezf_field_type == 23) {//scale
                        knexRemote.knexfindById("ezform_fields", { ezf_field_sub_id: res.ezf_field_id }).subscribe(
                            (res2) => {
                                //$("input[name='SDDynamicModel\\[var6r1\\]']").addClass('xxxxx');
                                var radios = $("input[name='SDDynamicModel\\[" + res2.ezf_field_name + "\\]']");//$("#sddynamicmodel-"+res2.ezf_field_name);
                                radios.filter('[value=' + arr[res2.ezf_field_name] + ']').prop('checked', true);

                            },
                            (err) => console.log(err)
                        );
                    }
                    if (res.ezf_field_type == 25) {//Grid
                        console.log("Grid");
                        //ezf_field_sub_id
                        knexRemote.knexfindById("ezform_fields", { ezf_field_sub_id: res.ezf_field_id }).subscribe(
                            (res2) => {
                                //console.log(res2.ezf_field_id);
                                knexRemote.knexfindById("ezform_fields", { ezf_field_sub_id: res2.ezf_field_id }).subscribe(
                                    (res3) => {
                                        if (res3.ezf_field_type == "251" || res3.ezf_field_type == "252" || res3.ezf_field_type == "253") {
                                            //text date textarea
                                            $("#sddynamicmodel-" + res3.ezf_field_name).val(arr[res3.ezf_field_name]);
                                        }
                                        if (res3.ezf_field_type == "254") {//checkbox
                                            var checkbox = $("input[name='SDDynamicModel\\[" + res3.ezf_field_name + "\\]']");
                                            checkbox.filter('[value=' + arr[res3.ezf_field_name] + ']').prop('checked', true);
                                        }


                                    },
                                    (err) => console.log(err)
                                );
                            },
                            (err) => console.log(err)
                        );
                    }//grid

                    let province = [];
                    if (res.ezf_field_type == 13) {//Province Amphut ...

                        let ProvinceOptions = '<option></option>';
                        let AmphurOptions = '';
                        let ThumbonOptions = '';
                        let arr1 = [];
                        $('.field-sddynamicmodel-syscheck').replaceWith(`<div id='PROVINCE'></div>`);
                        knexRemote.knexRaw("SELECT * FROM ezform_fields WHERE ezf_field_sub_id = '" + res.ezf_field_id + "' ")
                            .then((res3) => {

                                for (let i in res3) {
                                    arr1.push(res3[i].ezf_field_name);
                                }
                                setTimeout(function () {
                                    //console.log(res.ezf_field_name);
                                    knexRemote.knexfindById('const_province', { PROVINCE_ID: arr[arr1[0]] }).subscribe((next) => {
                                        $(`#${arr1[0]}`).html(`<option value='${next.PROVINCE_ID}'>${next.PROVINCE_NAME}</option>`);
                                        getProvince(ProvinceOptions, arr1);
                                    });
                                    knexRemote.knexfindById('const_amphur', { AMPHUR_ID: arr[arr1[1]] }).subscribe((next) => {
                                        $(`#${arr1[1]}`).html(`<option value='${next.AMPHUR_ID}'>${next.AMPHUR_NAME}</option>`);
                                        getAmphur(AmphurOptions, arr1);
                                    });
                                    knexRemote.knexfindById('const_district', { DISTRICT_ID: arr[arr1[2]] }).subscribe((next) => {
                                        $(`#${arr1[2]}`).html(`<option value='${next.DISTRICT_ID}'>${next.DISTRICT_NAME}</option>`);
                                        getDistrict(ThumbonOptions, arr1);
                                    });
                                }, 1100);
                                //console.log(arr);
                                setTimeout(function () {
                                    $('#PROVINCE').append(`
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>จังหวัด</label>
                                        <select class="form-control" id="${arr1[0]}" name="SDDynamicModel[${arr1[0]}]"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>อำเภอ</label>
                                        <select class="form-control" id="${arr1[1]}" name="SDDynamicModel[${arr1[1]}]"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>ตำบล</label>
                                        <select class="form-control" id="${arr1[2]}" name="SDDynamicModel[${arr1[2]}]"></select>
                                    </div>     
                                </div>
                            `);

                                    knexRemote.knexfindAll('const_province', 78).subscribe((next) => {
                                        ProvinceOptions += `<option value='${next.PROVINCE_ID}'>${next.PROVINCE_NAME}</option>`;
                                        $(`#${arr1[0]}`).append(ProvinceOptions);
                                    });
                                    $(`#${arr1[0]}`).on("change", function () {
                                        let id = $(this).val();
                                        //console.log(arr[1]);
                                        AmphurOptions = '';
                                        AmphurOptions = '<option></option>';
                                        knexRemote.knexfindById('const_amphur', { PROVINCE_ID: id }).subscribe((next2) => {
                                            //console.log(next2);
                                            AmphurOptions += `<option value='${next2.AMPHUR_ID}'>${next2.AMPHUR_NAME}</option>`;
                                            $(`#${arr1[1]}`).html(AmphurOptions);
                                        });
                                        var select2_amphur = {
                                            "placeholder": 'เลือกอำเภอ ...',
                                            "allowClear": true,
                                            //"minimumInputLength": 3,
                                            "theme": "krajee",
                                            "width": "100%",
                                            "language": "en-US",
                                        };
                                        jQuery.when(jQuery(`#${arr1[1]}`)
                                            .select2(select2_amphur))
                                            .done(initS2Loading(`${arr1[1]}`, 's2options_d6851687'));


                                    });
                                    $(`#${arr1[1]}`).on("change", function () {
                                        let id = $(this).val();
                                        //console.log(arr[1]);
                                        ThumbonOptions = '';
                                        ThumbonOptions = '<option></option>';
                                        knexRemote.knexfindById('const_district', { AMPHUR_ID: id }).subscribe((next3) => {
                                            //console.log(next2);
                                            ThumbonOptions += `<option value='${next3.DISTRICT_ID}'>${next3.DISTRICT_NAME}</option>`;
                                            $(`#${arr1[2]}`).html(ThumbonOptions);
                                        });
                                        var select2_thumbon = {
                                            "placeholder": 'เลือกตำบล ...',
                                            "allowClear": true,
                                            //"minimumInputLength": 3,
                                            "theme": "krajee",
                                            "width": "100%",
                                            "language": "en-US",
                                        };
                                        jQuery.when(jQuery(`#${arr1[2]}`)
                                            .select2(select2_thumbon))
                                            .done(initS2Loading(`${arr1[2]}`, 's2options_d6851687'));
                                    });
                                    var select2_province = {
                                        "placeholder": 'เลือกจังหวัด ...',
                                        "allowClear": true,
                                        //"minimumInputLength": 3,
                                        "theme": "krajee",
                                        "width": "100%",
                                        "language": "en-US",

                                    };
                                    jQuery.when(jQuery(`#${arr1[0]}`)
                                        .select2(select2_province))
                                        .done(initS2Loading(`${arr1[0]}`, 's2options_d6851687'));
                                }, 1000);





                            }).catch();

                    }

                    if (res.ezf_field_type == 26) {
                        //Google Maps
                        //console.log("Google Maps");
                        let var_google_map = res.ezf_field_name;
                        //console.log(var_google_map);
                        knexRemote.knexfindById("ezform_fields", { ezf_field_sub_id: res.ezf_field_id }).subscribe((res2) => {
                            //console.log(res2.ezf_field_name);
                        });

                    }
                    if (res.ezf_field_type == 27) {
                        //icd9

                        var data = require("./assets/js/icd9.js");

                        data.icd9 = $.map(data.icd9, function (item) {
                            return { id: item.code, text: item.code + " " + item.name };
                        });
                        var select2_hospitallistICD9 = {
                            "placeholder": 'Search for ICD9 ...',
                            //"quietMillis": 1500,
                            //"delay": 1500,
                            "allowClear": true,
                            "minimumInputLength": 1,
                            "theme": "krajee",
                            "width": "100%",
                            "language": "en-US",
                            "data": data.icd9,
                        };


                        $("#sddynamicmodel-" + res.ezf_field_name).show();
                        jQuery.when(jQuery('#sddynamicmodel-' + res.ezf_field_name)
                            .select2(select2_hospitallistICD9))
                            .done(initS2Loading('sddynamicmodel-' + res.ezf_field_name, 's2options_d6851687'));
                        //console.log(arr[res.ezf_field_name]);
                        let id = '';
                        let name = '';
                        for (let i of data.icd9) {
                            if (i.id == arr[res.ezf_field_name]) {
                                id = i.id;
                                name = i.id + " " + i.text;
                            }
                        }

                        let values = `<option value="${id}" selected>${name}</option>`;
                        $('#sddynamicmodel-' + res.ezf_field_name).append(values);

                    }
                    if (res.ezf_field_type == 28) {
                        //icd10

                        var data = require("./assets/js/icd10.js");
                        data.icd10 = $.map(data.icd10, function (item) {
                            return { id: item.code, text: item.code + " " + item.name };
                        });

                        var select2_hospitallistICD10 = {
                            "placeholder": 'Search for ICD10 ...',
                            "allowClear": true,
                            "minimumInputLength": 3,
                            "maximumSelectionSize": 10,
                            "width": "100%",
                            "language": "en-US",
                            "data": data.icd10,
                            "theme": "krajee",
                        };

                        $("#sddynamicmodel-" + res.ezf_field_name).show();
                        jQuery.when(jQuery('#sddynamicmodel-' + res.ezf_field_name)
                            .select2(select2_hospitallistICD10))
                            .done(initS2Loading('sddynamicmodel-' + res.ezf_field_name, 's2options_d6851687'));


                        // let id='';
                        // let name='';
                        // for(let i of data.icd10){
                        //     if(i.id == arr[res.ezf_field_name]){
                        //         id = i.id;
                        //         name = i.id+" "+i.text; 
                        //     }
                        // }

                        // let values = `<option value="${id}" selected>${name}</option>`;
                        // $('#sddynamicmodel-'+res.ezf_field_name).append(values);


                    }



                });

            },
            (err) => { console.log(err) }
        );


    }

    function getProvince(ProvinceOptions, arr1) {
        knexRemote.knexfindAll('const_province', 78).subscribe((next) => {
            ProvinceOptions += `<option value='${next.PROVINCE_ID}'>${next.PROVINCE_NAME}</option>`;
            $(`#${arr1[0]}`).append(ProvinceOptions);
        });
    }
    function getAmphur(AmphurOptions, arr1) {
        AmphurOptions = '';
        AmphurOptions = '<option></option>';
        knexRemote.knexfindById('const_amphur', { PROVINCE_ID: id }).subscribe((next2) => {
            //console.log(next2);
            AmphurOptions += `<option value='${next2.AMPHUR_ID}'>${next2.AMPHUR_NAME}</option>`;
            $(`#${arr1[1]}`).html(AmphurOptions);
        });
    }
    function getDistrict(ThumbonOptions, arr1) {
        ThumbonOptions = '';
        ThumbonOptions = '<option></option>';
        knexRemote.knexfindById('const_district', { AMPHUR_ID: id }).subscribe((next3) => {
            //console.log(next2);
            ThumbonOptions += `<option value='${next3.DISTRICT_ID}'>${next3.DISTRICT_NAME}</option>`;
            $(`#${arr1[2]}`).html(ThumbonOptions);
        });
        var select2_thumbon = {
            "placeholder": 'เลือกตำบล ...',
            "allowClear": true,
            //"minimumInputLength": 3,
            "theme": "krajee",
            "width": "100%",
            "language": "en-US",
        };
        jQuery.when(jQuery(`#${arr1[2]}`)
            .select2(select2_thumbon))
            .done(initS2Loading(`${arr1[2]}`, 's2options_d6851687'));
    }

    function myID() {
        var n = Date.now();
        let val = n * 1000;
        return n + giveValues();
    }
    function giveValues() {
        var number = Math.round((Math.random() * 999999999));
        return number.toString().substr(0, 4);
    }

</script>

<style>
    input[type="radio"] {
        cursor: pointer;
        /* -webkit-appearance: none; */
        appearance: none;
        background: #34495E;
        border-radius: 1px;
        box-sizing: border-box;
        position: relative;
        box-sizing: content-box;
        width: 16px;
        height: 20px;
        border-width: 0;
        transition: all 0.3s linear;
        margin-right: 10px;
        position: relative;
        top: 5px;
    }

    input[type="checkbox"] {
        cursor: pointer;
        /* -webkit-appearance: none; */
        appearance: none;
        background: #34495E;
        border-radius: 1px;
        box-sizing: border-box;
        position: relative;
        box-sizing: content-box;
        width: 16px;
        height: 20px;
        border-width: 0;
        transition: all 0.3s linear;
        margin-right: 10px;
        position: relative;
        top: -4px;
        /* right: 5px; */
        /* margin-right: 10px; */
    }
</style>