<link rel="stylesheet" href="./assets/css/simple-sidebar.css">
<div id="nav-bar-page"></div>
<!-- Sidebar -->
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Start Bootstrap
                </a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Shortcuts</a>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
    <br><br><br>
    <div class="well">
        <div id="content-page">
            <div id="getEzform"></div>
            <div id="ezformList"></div>
        </div>
    </div> 
    
</div>
 
<script>
    $.ajax({url:'./views/layouts/navbar.html',success:function(data){$("#nav-bar-page").html(data)}});
    $.ajax({url:'./views/ezform/getEzform.html',success:function(data){$("#getEzform").html(data)}});
    $.ajax({url:'./views/ezform/ezformList.html',success:function(data){$("#ezformList").html(data)}});
</script>
